
.header {
  height: 50px;
  padding: 0 15px;
  background: rgba(97, 132, 71, .4);
  color: #fff;
  position: relative;
}

.toolBtn {
  position: absolute;
  right: 15px;
  top: 0;
  line-height: 50px;
}

.icon {
  cursor: pointer;
  margin-left: 5px;
}

.filterBox {
  width: 170px;
  position: absolute;
  left: 15px;
  top: 15px;
}
