.container {
  position: absolute;
  top: 0;
  right: 0;
  left: 200px;
  bottom: 0;
  background: rgba(255, 255, 255, .4);
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 150px;
  background: rgba(255, 255, 255, .8);
  overflow: auto;
  padding: 10px;
}
