.container {
  position: absolute;
  top: 0;
  right: 0;
  left: 200px;
  bottom: 0;
  background: rgba(255, 255, 255, .4);
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 150px;
  background: rgba(255, 255, 255, .8);
  overflow: auto;
}

.info {
  line-height: 30px;
  background: rgba(42, 255, 185, 0.5);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  padding-left: 10px;
  color: #555;
}

.context {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 40px;
  bottom: 0;
  overflow: auto;
}

.item {
  margin-bottom: 15px;
  font-size: 12px;
  .name {
    color: #555;
  }
  .time {
    color: #aaa;
  }
  .text {
    margin-top: 4px;
    color: #333;
    line-height: 20px;
    padding: 5px 0;
  }
}

.item.userLeft {
  text-align: center;
  .text {
    background: #e2e2e2;
    display: inline-block;
    line-height: 25px;
    border-radius: 9px;
    padding: 0 10px;
  }
}
