@import "./_variables";

#nprogress {
  pointer-events: none;

  .bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: $color-primary-darken;
    z-index: 1031;
  }

  .peg {
    position: absolute;
    right: 0;
    width: 100px;
    display: block;
    height: 100%;
    box-shadow: 0 0 10px $color-primary-darken, 0 0 5px $color-primary-darken;
    transform: rotate(3deg) translate(0px, -4px);
    opacity: 1;
  }

  .spinner {
    position: fixed;
    display: block;
    top: 15px;
    right: 15px;
    z-index: 1031;
  }

  .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: solid 2px transparent;
    border-top-color: $color-primary-darken;
    border-left-color: $color-primary-darken;
    border-radius: 50%;
    animation: nprogress-spinner 400ms linear infinite;
  }
}

.nprogress-custom-parent {
  position: relative;
  overflow: hidden;

  #nprogress .spinner,
  #nprogress .bar {
    position: absolute;
  }
}

@keyframes:global(nprogress-spinner) {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
