.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 110px;
  padding: 10px 10px 30px;
  background: rgba(255, 255, 255, .6);
  box-shadow: 0 3px -6px rgba(0, 0, 0, .2);
}
